html,
body,
#thecontents {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(3, 31, 75, 1);
}

body {
  font-family: 'Dosis', sans-serif;
  color: #fff;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

a,
button {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Paytone One', sans-serif;
  text-align: left !important;
}

#webpreview,
#softpreview,
#netpreview,
#qapreview,
#teachpreview,
#webhead,
#softhead,
#nethead,
#qahead,
#teachhead {
  display: none;
}

.fouroh4 {
  display: none;
}

.adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
}

.inner,
.nav-panel ul .nav-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

.scene {
  width: 100%;
  height: 100%;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .7s, opacity .7s;
  transition: transform .7s, opacity .7s;
  will-change: auto, opacity;
}

.text a {
  color: yellow;
}

.text a:hover,
.text a:focus {
  color: orange;
}

.page:nth-child(1) .left {
  background: #264772;
}

.page:nth-child(1) .right {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
  color: #d9a47c;
}

.page:nth-child(1) .right .text {
  text-align: center;
}

.page:nth-child(1) .right .text h1 {
  color: #fff;
  margin: 0px;
  font-size: 3.5em;
}

.page:nth-child(1) .right .text h3 {
  margin: 0px;
}

.page:nth-child(1) .right .text h4 {
  text-align: center;
  margin-top: 0px;
  color: #d9a47c;
}

.page:nth-child(2) .left {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(2) .right {
  background: #264772;
}

.page:nth-child(2) .left .text p,
.page:nth-child(8) .left .text p,
.page:nth-child(9) .right .text p {
  color: #fff;
  text-align: justify;
}

.page:nth-child(3) .left {
  background: #264772;
}

.page:nth-child(3) .right {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(3) .right,
.page:nth-child(5) .right,
.page:nth-child(7) .right,
.page:nth-child(9) .right {
  padding-right: 60px;
}

.page:nth-child(3) .right .text p,
.page:nth-child(3) .right .text,
.page:nth-child(3) .right,
.page:nth-child(5) .right .text p,
.page:nth-child(5) .right .text,
.page:nth-child(5) .right,
.page:nth-child(7) .right .text p,
.page:nth-child(7) .right .text,
.page:nth-child(7) .right {
  text-align: justify;
}

.page:nth-child(3) .right .text h5,
.page:nth-child(5) .right .text h5,
.page:nth-child(7) .right .text h5 {
  margin: 0px;
  color: #d9a47c;
}

.page:nth-child(3) .right .text span,
.page:nth-child(5) .right .text span,
.page:nth-child(7) .right .text span {
  color: #fff;
}

.page:nth-child(4) .left {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(4) .right {
  background: #264772;
}

.page:nth-child(4) .left .text p,
.page:nth-child(4) .left .text,
.page:nth-child(4) .left,
.page:nth-child(6) .left .text p,
.page:nth-child(6) .left .text,
.page:nth-child(6) .left {
  text-align: justify;
}

.page:nth-child(4) .left .text h5,
.page:nth-child(6) .left .text h5 {
  margin: 0px;
  color: #d9a47c;
}

.page:nth-child(6) .left .text span,
.page:nth-child(4) .left .text span {
  color: #fff;
}

.page:nth-child(5) .left {
  background: #264772;
}

.page:nth-child(5) .right {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(6) .left {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(6) .right {
  background: #264772;
}

.page:nth-child(7) .left {
  background: #264772;
}

.page:nth-child(7) .right {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(8) .left {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(8) .right {
  background: #264772;
}

.page:nth-child(9) .left {
  background: #264772;
}

.page:nth-child(9) .right {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.page:nth-child(10) .left {
  background-color: #543030;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(to right, #000000, #000000 1px, #543030 1px, #543030);
}

.contex {
  visibility: hidden;
}

.page:nth-child(10) .right {
  background: #264772;
}

.page.active .half {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
  -webkit-transition: -webkit-transform .7s ease-out;
  transition: transform .7s ease-out;
}

.page.previous {
  opacity: 0.4 !important;
  visibility: visible !important;
}

.page.small {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.page.small .half {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.page:nth-child(2) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(2) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(3) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(3) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(4) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(4) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(5) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(5) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(6) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(6) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(7) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(7) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(8) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(8) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(9) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(9) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.page:nth-child(10) .left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page:nth-child(10) .right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  -webkit-transition: -webkit-transform .7s ease-in;
  transition: transform .7s ease-in;
  will-change: auto;
}

.half.left {
  left: 0;
}

.half.right {
  left: 50%;
}

#withText,
#withoutText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-panel {
  position: fixed;
  top: 50%;
  right: 1%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0.57, 1.2, 0.68, 2.6);
  will-change: auto, opacity;
}

.nav-panel.invisible {
  opacity: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
  -ms-transform: translateY(-50%) scale(0.5);
  transform: translateY(-50%) scale(0.5);
}

.nav-panel ul {
  list-style-type: none;
  right: 19%;
}

.nav-panel ul .nav-btn {
  position: relative;
  overflow: hidden;
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.nav-panel ul .nav-btn:after {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.nav-panel ul .nav-btn.active:after,
.nav-panel ul .nav-btn:hover:after {
  color: yellow;
}

.nav-panel ul .nav-btn.active {
  color: yellow;
}

.nav-panel ul .nav-btn:hover {
  color: yellow;
}

.nav-panel ul .nav-btn:hover:after {
  color: yellow;
}

.nav-panel .scroll-btn {
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.nav-panel .scroll-btn.up {
  top: -1.6rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-panel .scroll-btn.down {
  bottom: -1.2rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-panel .scroll-btn:hover {
  border-color: yellow;
}

.nav-panel nav span {
  visibility: hidden;
}

.half {
  padding-right: 35px;
  padding-left: 35px;
}

.form-control {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0px;

  width: 100%;
}

.page ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page li {
  padding-left: 1em;
  text-indent: 0.3em;
}