<!doctype html>
<html class="no-js" lang="zxx">

  <head>
    <title>Utsanzi SEO | SEO, Social Engagement & Digital Marketing</title>

    <link rel="canonical" href="https://seo.ui.co.zw" />
    <meta name="url" content="https://seo.ui.co.zw">
    <meta name="identifier-URL" content="https://seo.ui.co.zw">

    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/application.css" />

    <meta charset="UTF-8" />
    <meta name="language" content="EN">
    
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE; chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="robots" content="index,follow" />

    <meta name="Classification" content="Business">
    <meta name="owner" content="Utsanzi Interactive">
    <meta name="copyright"content="Utsanzi Interactive">
    <meta name="reply-to" content="marketing@ui.co.zw">
    <meta name="author" content="Taffy Banda, taffy@ui.co.zw">

    <meta property="og:locale" content="en_ZA" />

    <meta name="description" content="Utsanzi Interactive is an IT/ICT company that offers services & consultancy, it is located in Harare Zimbabwe and offers Web Development, Applications Development, Computer Networking Services, an accelerator program and an online coding academy for businesses (big and small), NGOs/NPOs, start ups and even for individuals.">

    <meta name="summary" content="Utsanzi Interactive is a privately owned ICT company that offers services and consultancy in the field of Information and Communications Technologies. Utsanzi Interactive is located in Harare Zimbabwe and strives to offer top class, robust and innovative ICT services for businesses (big and small), NGOs/NPOs, start ups and even for individuals. The company name UTSANZI is taken from the eponymous Shona word/phrase utsanzi meaning Proficiency or having cultivated great skill and we leverage or our experience and expertise to give clients the best services we can.">

    <meta name="keywords" content="Web Development,App Development,Computer Networks,Software Quality Assurance,Software Testing,Tenzi Academy,Utsanzi Interactive,Ruby,Ruby on Rails,PHP,NodeJS,Ionic,Electron,Chatbot Development,Application Development,Selenium,Java,Sinatra">

    <meta name="og:title" content="Utsanzi SEO | SEO, Social Engagement & Digital Marketing"/>
    <meta name="og:type" content="company, website"/>
    <meta name="og:url" content="https://seo.ui.co.zw"/>
    <meta name="og:image" content="https://res.cloudinary.com/mheni/image/upload/v1580918765/utsanzi_kxauli.png"/>
    <meta name="og:site_name" content="Utsanzi SEO"/>

    <meta name="og:description" content="Utsanzi Interactive is an IT/ICT company that offers services & consultancy, it is located in Harare Zimbabwe and offers Web Development, Applications Development, Computer Networking Services, an accelerator program and an online coding academy for businesses (big and small), NGOs/NPOs, start ups and even for individuals"/>

    <meta name="og:email" content="marketing@ui.co.zw"/>
    <meta name="og:phone_number" content="+263-715-201-574"/>

    <meta name="og:latitude" content="-17.814779"/>
    <meta name="og:longitude" content="31.046634"/>
    <meta name="og:street-address" content="3 Alan Wilson Avenue"/>
    <meta name="og:locality" content="Milton Park"/>
    <meta name="og:region" content="Harare"/>
    <meta name="og:postal-code" content="002000"/>
    <meta name="og:country-name" content="Zimbabwe"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Utsanzi SEO | SEO, Social Engagement & Digital Marketing">

    <meta name="twitter:description" content="Utsanzi Interactive is an IT/ICT company that offers services & consultancy, it is located in Harare Zimbabwe and offers Web Development, Applications Development, Computer Networking Services, an accelerator program and an online coding academy for businesses (big and small), NGOs/NPOs, start ups and even for individuals">

    <meta name="twitter:image:src" content="https://res.cloudinary.com/mheni/image/upload/v1580918765/utsanzi_kxauli.png">
    <meta name="twitter:domain" content="https://seo.ui.co.zw">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <%= erb :"partials/_nav" %>

    <%= yield %>

    <%= erb :"partials/_footer" %>

    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
  </body>

</html>