<div class="shap_big_2 d-none d-lg-block Another_shap_big">
  <img src="img/ilstrator/big.png" alt="">
</div>

<div class="bradcam_area">
  <div class="bradcam_shap">
    <img src="img/ilstrator/bradcam_ils.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Services</h3>
          <nav class="brad_cam_lists">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="service_area minus_padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-4">
        <div class="single_service text-center">
          <div class="icon">
            <img src="img/svg_icon/seo_1.svg" alt="">
          </div>
          <h3>SEO/SEM</h3>
          <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing.</p>
          <a href="#" class="boxed-btn3-text">Learn More</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service text-center">
          <div class="icon">
            <img src="img/svg_icon/seo_2.svg" alt="">
          </div>
          <h3>Digital Marketing</h3>
          <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing.</p>
          <a href="#" class="boxed-btn3-text">Learn More</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service text-center">
          <div class="icon">
            <img src="img/svg_icon/seo_3.svg" alt="">
          </div>
          <h3>Social Media</h3>
          <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing.</p>
          <a href="#" class="boxed-btn3-text">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <h3>We have some awesome features <br>
            to rank your business</h3>
          <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or <br> picture placing drawing. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="img/svg_icon/feature_1.svg" alt="">
          </div>
          <h4>Custom design</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="img/svg_icon/feature_2.svg" alt="">
          </div>
          <h4>Paid Search result</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="img/svg_icon/feature_3.svg" alt="">
          </div>
          <h4>Global Search option</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="img/svg_icon/feature_4.svg" alt="">
          </div>
          <h4>Email Marketing</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="img/svg_icon/feature_5.svg" alt="">
          </div>
          <h4>Custom Software</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="img/svg_icon/feature_6.svg" alt="">
          </div>
          <h4>Setup business goal</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
    </div>
  </div>
</div>