<footer class="footer">
  <div class=" container">
    <div class="pro_border">
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <div class="lets_projects">
            <h3><a href="/contact">Contact Us </a><br/>Enhance your business presence</h3>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="phone_number">
            <h3>+263 715 201 574</h3>
            <a href="mailto:marketing@ui.co.zw">marketing@ui.co.zw</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="/">
                <img src="img/footer_logo.png" alt="">
              </a>
            </div>
            <p>
              <strong>"</strong>I've learned that people will forget what you said, people will forget what you did, but people will <strong>never</strong> forget how you made them feel<strong>"</strong><br/><br/> -Maya Angelou
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Services
            </h3>
            <ul>
              <li><a href="#">Marketing &amp; SEO</a></li>
              <li><a href="#"> Startup</a></li>
              <li><a href="#">Finance solution</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Travel</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Navigation
            </h3>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 offset-xl-1 col-md-6 col-lg-4">
          <div class="footer_widget">
            <h3 class="footer_title">
              Newsletter
            </h3>
            <form action="#" class="newsletter_form">
              <input type="text" placeholder="Enter your mail">
              <button type="submit"><i class="fa fa-envelope"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <a href="https://ui.co.zw">Utsanzi Interactive</a> &copy; <script>
            document.write(new Date().getFullYear());</script> | Inspired by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>